.css-header{
  border-bottom: solid black 2px;
  width: 100%;
}
.css-header-caption-div{
  margin-left: 50%;
  padding: 280px 10% 90px 0%;
  text-align: end;
}
h1, p{
  padding: 1vh 0 1% 1vh;
}
h1{
  font-size:60px;
}