.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: skyblue !important;
  border-bottom: solid black 2px;
}
.register-form-appbar, .login-form-appbar{
  background-color: rgb(255, 151, 151) !important;
}